---
layout: default
title: GitLab Evangelist Program
suppress_header: true
extra_css:
  - evangelists.css
extra_js:
  - features.js
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    = image_tag "/images/evangelists/gitlab-logo.svg", class: "hero-image-small", alt: "GitLab logo icon svg"
    %h1 GitLab Evangelist Program
    %p Everyone can contribute.

.gitlab-content-container
  .grid-layout.grid-layout2
    .evangelist-info-container.grid-item
      %h3
        = "Host an event"
      .flex-container
        = image_tag "/images/evangelists/gitlab-logo.svg", class: "evangelist-logo", alt: "GitLab logo svg"
        %p Bring the community together.
      %p
        = "Do you host a DevOps, Cloud, Kubernetes, or other tech meetup in your hometown? We want to help you grow your community. GitLab provides a variety of support to community organizers from sponsoring events to providing speakers to sending swag."
      = link_to "/community/meetups" do
        Learn how GitLab supports tech community groups
        %i.fas.fa-arrow-right
      %a{ href: "https://www.meetup.com/pro/gitlab" }
        Find a GitLab Meetup near you
        %i.fas.fa-arrow-right

    .evangelist-info-container.grid-item
      %h3
        = "Contribute to our blog"
      .flex-container
        = image_tag "/images/evangelists/gitlab-logo.svg", class: "evangelist-logo", alt: "GitLab logo svg"
        %p Put your love for GitLab in writing.
      %p
        = "At GitLab, we believe everyone can contribute - even to our blog. That's why we started our Community Writers Program. If you prefer to publish elsewhere, that's awesome. Use #gitlab when sharing or tagging your post so we can upvote, like, retweet, and comment."
      = link_to "/community/writers/" do
        Learn about our Community Writers Program
        %i.fas.fa-arrow-right

    .evangelist-info-container.grid-item
      %h3
        = "Find a speaker"
      .flex-container
        = image_tag "/images/evangelists/gitlab-logo.svg", class: "evangelist-logo", alt: "GitLab logo svg"
        %p Invite a GitLab speaker to your event.
      %p
        = "Are you planning a tech event? We can help you find a great speaker. We have a global network of GitLab team-members and community members who want to share their experience and expertise with tech meetups and conferences."
      = link_to "/events/find-a-speaker/" do
        Find a GitLab speaker
        %i.fas.fa-arrow-right

    .evangelist-info-container.grid-item
      %h3
        = "Become a speaker"
      .flex-container
        = image_tag "/images/evangelists/gitlab-logo.svg", class: "evangelist-logo", alt: "GitLab logo svg"
        %p Share your knowledge with the world.
      %p
        = "We connect great speakers with great events. If you're ready to become a tech speaker, add your name to our Find a Speaker page. If you need some help with CFPs or preparing your talks along the way, we are happy to help with that too. Let's do this."
      = link_to "/community/evangelists/become-a-speaker" do
        Become a GitLab speaker
        %i.fas.fa-arrow-right

    .evangelist-info-container.grid-item
      %h3
        = "Get in touch"
      .flex-container
        = image_tag "/images/evangelists/gitlab-logo.svg", class: "evangelist-logo", alt: "GitLab logo svg"
        %p We want to hear from you.
      %p
        = "If you have any questions about the evangelist program or suggestions on how we can make things better, please let us know. Our community team is here to help."
      %a{ href: "mailto:evangelists@gitlab.com" }
        Send us an email
        %i.fas.fa-arrow-right
